<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
    <style>
        #app{
            width: 500px;
            height: 500px;
            border: 1px solid red;margin:100px auto;
        }
        table tr th{width: 100px;}
        table tr td{width: 50px;
                text-align: center;}
    </style>
</head>
<body>
    <div id="app">
        <table border="1"style="border-collapse:collapse;margin: auto">
            <tr>
               <th><input type="checkbox" @change="clickMe" v-model="checkVal"></th> <th>编号</th> <th>商品名称</th> <th>商品价格</th> <th>购买数量</th> <th>操作</th>
            </tr>
            <tr v-for="(it,index) in array">
                <td><input type="checkbox" v-model="au":value="it.index"></td>
                <td>{{index+1}}</td>
                <td>{{it.name}}</td>
                <td>{{it.qian}}</td>
                <td>
                    <button @click="jian(index)":disabled="it.num === 1">-</button>
                    <span>{{it.num}}</span>
                    <button @click="jia(index)":disabled="it.num === 99">+</button>
                </td>
                <td><button @click="remove(index)">删除</button></td>
            </tr>
        </table>
        <p>总价:  <span>￥{{prict}}</span></p>
    </div>
</body>
</html>
<script>
    new Vue({
        el : "#app",
        data :{
            array:[
                {name:"iPhone 7",qian:6188, num : 1},
                {name:"iPad Pro",qian:5888, num : 1},
                {name:"iPad Pro",qian:5888, num : 1},
                {name:"iPad Pro",qian:5888, num : 1},
                {name:"iPad Pro",qian:5888, num : 1}
            ],
            au :[],
            checkVal : false
        },
        methods:{
            jian : function(index){
                if (this.array[index].num===1) return;
                this.array[index].num--;
            },
            remove: function(index){
               this.array.splice(index,1);
            },
            jia : function(index){
                this.array[index].num++;
            },

        },
        computed : {
            prict : function(){
                var pr = 0;
                for (var i=0;i<this.array.length;i++){
                    pr += this.array[i].qian * this.array[i].num;
                }
                return pr.toString().replace(/\B(?=(\d{3})+$)/g,",");
            },
            clickMe : function(){
                var thas = this;
                if (thas.checkVal){
                    this.au = [];
                    this.array.forEach((it)=>{
                        this.au.push(it.index);
                    })
                }else{
                    this.au = [];

                }
            }
        }
    })
</script>